.vscode
**__pycache__**
/data
/exp_data
/visualization
/checkpoints
/work_dirs
/playground**
**build
**dist
**.egg-info
**.log
environment.yml
requirements.txt
.idea
**.csv
**.json
traces

apps/impl/dataset_collection/DumpKinectSkeleton

tmpraw/
tmp/