addict==2.4.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
Brotli
certifi
cffi
charset-normalizer
comm
contourpy==1.3.1
cycler==0.12.1
debugpy
decorator
defusedxml
einops==0.8.1
exceptiongroup
executing
fastjsonschema
filelock
fonttools==4.56.0
gmpy2
h11
h5py==3.13.0
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver==1.4.8
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdurl==0.1.2
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mmengine==0.10.6
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba==0.61.0
numba-cuda==0.5.0
numpy==2.1.3
opencv-python==4.11.0.86
overrides
packaging
pandas==2.2.3
pandocfilters
parso
pexpect
pillow
platformdirs
pointnet2==0.0.0
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pynvjitlink-cu12==0.5.0
pyparsing==3.2.1
PyQt6==6.7.1
PyQt6_sip
pyquaternion==0.9.9
PySocks
python-dateutil
python-json-logger
pytz==2025.1
PyWavelets==1.8.0
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.9.4
rpds-py
scipy==1.15.2
Send2Trash
sip
six
sniffio
soupsieve
stack-data
sympy
termcolor==2.5.0
terminado
tinycss2
tomli
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado
tqdm==4.67.1
traitlets
triton==3.0.0
typing_extensions
tzdata==2025.1
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
yapf==0.43.0
